[submodule "reference_robomates_firmware"]
	path = reference_robomates_firmware
	url = https://github.com/art-rbmates/robomates-firmware
[submodule "reference_balancer"]
	path = reference_balancer
	url = https://github.com/simplefoc/Arduino-FOC-balancer
